body,
html {
  margin: 0;
  font-family: sans-serif;
}

#banner {
  max-width: 100vw;
}

#title {
  text-align: center;
  font-size: 5rem;
  font-family: monospace;
  margin: 5rem 0;
}

#content {
  max-width: 70ch;
  margin: 1rem auto 20rem;
  font-size: 1.4rem;
}

mark {
  display: block;
  background-color: #d3f4d3;
  padding: 0.2rem 0.6rem;
  border-radius: 0.25rem;
}

p {
  line-height: 1.4;
}